{% extends "basic.html" %}
{% block body %}
<div class="image-details">
    <h1>{{ image.Name }}</h1>
    <img src="{{ url_for('static', filename='Images/' + image.ImagePath) }}" alt="{{ image.Name }}" style="width: 50%; height: auto;">

    <div class="details">
        <h2>Historical Relevance:</h2>
        <p>{{ image.Hist_Relevance }}</p>

        <h2>Modern Importance:</h2>
        <p>{{ image.Mod_Imp }}</p>

        <h2>Comparative Analysis:</h2>
        <p>{{ image.Comp_Analysis }}</p>

        <h2>Special Insight:</h2>
        <p>{{ image.Insight }}</p>
    </div>
</div>
{% endblock %}
